{% set title = "sign up" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
	<section class="p-50-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<div class="terms">
						<div class="title">Lorem ipsum dolor sit.</div>
						<p><b>Lorem ipsum dolor sit.</b></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam, ducimus? Cupiditate, enim iure
							laboriosam nam odit quod rem tempore velit! Accusantium aperiam doloribus expedita fugit itaque odit rerum
							velit.</p><br>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi aspernatur autem eum fugit iusto laudantium libero, maxime nesciunt, nobis praesentium quas quod sint sit tenetur unde velit voluptatem?
						</p><br>
						<p><b>Lorem ipsum dolor sit.</b></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad architecto assumenda aut consectetur corporis cupiditate deleniti eligendi eos est expedita, fugiat illo ipsam itaque labore maxime natus non nostrum nulla obcaecati odit officia omnis pariatur praesentium quasi sequi ut.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

{% include "components/footer.html" %}
{% endblock %}